# Database connection
DB_HOST=db
DB_USER=root
DB_PASS=root
DB_NAME=approvals_db
DB_PORT=3306

# MySQL setup
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=approvals_db

# App settings
NODE_ENV=development
PORT=3000
